/* Hidden scrollbar */

html,
body {
  height: 100%;
  overflow: hidden;
}

.containerForHiddenScrollbar {
  height: 100%;
  overflow: hidden;
}

.containerWithHiddenScrollbar {
  height: 100%;
  overflow: auto;
}

.containerWithHiddenScrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.containerWithHiddenScrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Collapsable element styles */

.collapsable {
  position: relative;
  min-height: 45px;
  max-height: 45px;
  overflow-y: hidden;
}

.collapsable-h0 {
  min-height: 0px;
  max-height: 0px;
}

.collapsable-h70 {
  min-height: 70px;
  max-height: 70px;
}

.collapsable.expanded {
  max-height: 100rem;
  overflow-y: hidden;
}

/* Animate collapse & expand */

.collapsable.expanding {
  max-height: 100rem;
  transition: max-height 1s cubic-bezier(1, 0.3, 1, 0);
}

.collapsable.collapsing {
  /* : must override all since bootstrap conflict */
  height: auto !important;
  max-height: 45px !important;
  transition: max-height 0.7s cubic-bezier(0, 1, 0, 1) !important;
}

.collapsable.expanded:hover,
.collapsable.expanded:active,
.collapsable.expanding:hover,
.collapsable.expanding:active {
  background: #fff;
}

/* Collapsable header styles */

.collapsable-header {
  text-transform: capitalize;
}

.collapsable-header:hover {
  cursor: pointer;
}

.collapsable .collapsable-header::after {
  content: url("../sources/icons/chevron-down.svg");
  display: inline-block;
  height: 24px;
  width: 24px;
  vertical-align: middle;
  position: relative;
  left: 1%;
}

.collapsable.expanded .collapsable-header::after {
  content: url("../sources/icons/chevron-up.svg");
}

/* Animate chevron icon on expand & collapse  */

/* : "transition" states classes are required */
/* :  to implement "clean of additional classes" initial state */
.collapsable.expanding .collapsable-header::after {
  animation-name: chevronClockwise180;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.collapsable.collapsing .collapsable-header::after {
  animation-name: chevronAntiClockwise180;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

/* Collapsable caption styles */
/* : caption = container that holds header at least */

.collapsable .caption {
  height: 2.5rem;
}

.collapsable .caption > .btn {
  width: 2rem;
  height: 2rem;
  background-image: url(../sources/icons/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.routine-card {
  overflow: hidden;
}

.routine-card > .card-body {
  padding: 1.25rem 0;
}

.routine-container-view-card-btn {
  min-width: 242px;
}

/* Button adding elements style */

.button-add {
  margin: 0;
  padding: 0;
  width: 7vh;
  height: 7vh;
  bottom: 5vh;
  left: 1vw;
  border-radius: 50%;
  box-shadow: none !important;
}

.button-add::after {
  content: url("../sources/icons/plus.svg");
  display: inline-block;
  margin-top: 0.8vh;
}

/* : override bootstrap buttons remain dark */
.button-add:focus {
  background-color: #007bff !important;
  border-color: #007bff !important;
}

/* : override bootstrap buttons remain dark */
.button-add:hover {
  color: #fff;
  background-color: #0069d9 !important;
  border-color: #0062cc !important;
}

/* Percent stacked bar chart styles */

.stacked-bar-item {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.stacked-bar-item:not(:first-child) {
  width: 0;
  display: none;
}


.btn.skip-back,
.btn.skip-forward {
  width: 1.5rem;
  height: 1.5rem;
}

.skip-back {
  background-image: url(../sources/icons/skip-back.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.skip-forward {
  background-image: url(../sources/icons/skip-forward.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* Common styles */

.borderLess {
  border: none;
}

.borderSquare {
  border-radius: 0 !important;
}

input[type="checkbox"].enabler {
  height: 1rem;
  width: 1rem;
}

.checkbox-valign-middle {
  display: inline-block;
  vertical-align: middle;
}

.width-15 {
  width: 15%;
}

/* Keyframes */

@keyframes chevronClockwise180 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes chevronAntiClockwise180 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-180deg);
  }
}
